<div id="mainContent">
  <div id="loginFormWrapper">
    <div class="formHeader">
      <h2>Anmelden</h2>
      <p>
        Neuer Benutzer?
        <a (click)="register()">Kostenlos registrieren</a>
      </p>
    </div>

    <form id="loginForm" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Benutzername</label>
        <input
          type="text"
          formControlName="username"
          placeholder="Vorname Nachname"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div
          *ngIf="f.username.touched && f.username.errors"
          class="validationError"
        >
          <div *ngIf="f.username.errors.required">Name ist erforderlich</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Passwort eingeben"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div
          *ngIf="f.password.touched && f.password.errors"
          class="validationError"
        >
          <div *ngIf="f.password.errors.required">
            Passwort ist erforderlich
          </div>
        </div>
      </div>
      <div class="form-group"></div>

      <span class="loginError">
        {{ errorMessage ? errorMessage : "&nbsp;" }}
      </span>

      <div class="form-group loginFooter">
        <a (click)="resetPassword()"><strong>Zugangsdaten vergessen?</strong></a
        ><button
          type="submit"
          [disabled]="loading || form.invalid || !form.valid"
          class="btn"
          [ngClass]="{ disabled: loading || form.invalid }"
        >
          Anmelden
        </button>
      </div>
    </form>
  </div>
</div>
