@import "../_globals.scss";

#mainWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    background: $dark-font;
    height: 6vh;

    img {
      height: 25px;
      margin: 12px 0px 10px 10px;
    }
  }
}
