$dark-font: #252525;
$light-font: #757171;
$highlight-link: #0fbb8c;
$abled-gray: #cccccc;
$active-gray: #aaaaaa;
$disabled-gray: #bbbbbb;
$light-background: #ffffff;
$error: #aa0000;
$sucess: #00aa00;
