@import "_globals.scss";

* {
  padding: 0px;
  margin: 0px;
  font-family: "Calibri";
  color: $dark-font;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  height: 50px;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px 30px;
  color: $dark-font;
  background-color: $abled-gray;
  border: 1px solid$abled-gray;
}

.btn:hover {
  color: $dark-font;
  background-color: $active-gray;
}

.btn.disabled {
  color: white;
  background-color: $disabled-gray;
  border: none;
}

::placeholder {
  color: $disabled-gray;
}
